* {
	margin: 0px;
	padding: 0px;
	border: 0px;

	outline: none;

	font-family: "Arial", Helvetica, sans-serif;
	font-size: 20px;

 }

body {
	width: 100vw;
	height: 100vh;

	background-color: #455C7B;

	overflow:hidden;
 }

 input.search {
	width: 392px;
	height: 28px;

	padding-left: 4px;

	font-weight: bold;
	border-radius: 6px;

	margin-left: 2px;

	background-color: #FFAA5C;

	color: #A66F3C;
	text-shadow: 0px 1px #7F552E;
 }

 input.forms {
	width: 392px;
	height: 28px;

	padding-left: 4px;

	font-weight: bold;
	border-radius: 6px;

	margin-left: 2px;

	background-color: #FFAA5C;

	box-shadow: 0px 2px 0px #996738;

	color: #A66F3C;
	text-shadow: 0px 1px #7F552E;
 }

 input:focus {
	 width: 390px;
	 height: 26px;

	 border: 1px dashed #996738;
 }

 #autocomplete {
	width: 392px;

	margin: 0 auto;
	margin-top: -5px;

	padding-top: 5px;
	padding-left: 4px;

	white-space: pre;

    overflow: hidden;
    text-overflow: ellipsis;

	background-color: #FFAA5C;

	border-radius: 0 0 6px 6px;
	box-shadow: 0px 2px 0px #996738;

	color: #78502B;
	text-shadow: 0px 1px #4F351D;
 }

 span.bold {
	 font-weight: bold;
	 color: #A66F3C;
 		text-shadow: 0px 1px #7F552E;
 }

 span.date {
	 font-size: 10px;
	 font-style: italic;
	 color: #733C42;
	 text-shadow: 0px 1px #522B2F;
 }

div.main {
		width: 500px;

   margin: 0 auto;
	 padding-top: 20px;
	 padding-bottom: 20px;


	 background-color: #685C79;

	 border-radius: 20px;

	 box-shadow: 0px 2px 0px #3D3647;

	 -webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;

		z-index: 10;

		-webkit-transition-timing-function: ease-in-out;
		 -moz-transition-timing-function: ease-in-out;
		 -o-transition-timing-function: ease-in-out;
		 transition-timing-function: ease-in-out;
 }

 p.label {
	 	font-size: 10px;

		line-height:20px;

		margin-left: 5px;

		color: #D99C4C;

		color: #733C42;
		text-shadow: 0px 1px #522B2F;
 }

 p.warn {
	 	display: table;

	 	font-size: 10px;

		line-height:20px;

		margin: 0 auto;
		font-weight: bold;

			font-style: italic;
		color: #B20400;
		text-shadow: 0px 1px #4C0200;
 }

 p.history {
	 	font-size: 14px;

		line-height: 19px;

		margin-left: 15px;

		color: #733C42;
		text-shadow: 0px 1px #522B2F;
 }

 button {
 	width: 197px;
 	height: 28px;

	margin-left: 2px;

	display: inline-block;
	float: left;

	background-color: #455C7B;

	border-radius: 6px;
	box-shadow: 0px 2px 0px #2E3D52;

font-weight: bold;
	font-style: italic;
	color: #688BBA;
	text-shadow: 0px 2px #2E3D52;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

	-webkit-transition-timing-function: linear;
	 -moz-transition-timing-function: linear;
	 -o-transition-timing-function: linear;
	 transition-timing-function: linear;
 }

 #title {
	 display: table;

	 font-size: 36px;

	 	margin: 0 auto;
		padding-top: 20px;
		margin-bottom: 20px;

	 	font-weight: bold;
	 	font-style: italic;
	 	color: #688BBA;
	 	text-shadow: -3px 0 #DA727E, 0 3px #A3555E, 3px 0 #DA727E, 0 -3px #FFAA5C;

		z-index: -1;

		-webkit-transition: all 0.5s;
		 -moz-transition: all 0.5s;
		 -o-transition: all 0.5s;
		 transition: all 0.5s;



		 -webkit-transition-timing-function: ease-in-out;
			-moz-transition-timing-function: ease-in-out;
			-o-transition-timing-function: ease-in-out;
			transition-timing-function: ease-in-out;


 }

 #title:hover{
	 padding-top: 40px;
	 margin-bottom: 40px;
	 
	 -webkit-transition: all 0.5s;
 	 -moz-transition: all 0.5s;
 	 -o-transition: all 0.5s;
 	 transition: all 0.5s;

 	 -webkit-transition-timing-function: ease-in-out;
 		-moz-transition-timing-function: ease-in-out;
 		-o-transition-timing-function: ease-in-out;
 		transition-timing-function: ease-in-out;


 }

 #by, #j0n, #biz {
	 font-size: 36px;

	 position: absolute;

	 	font-weight: bold;
	 	font-style: italic;
	 	color: #688BBA;
	 	text-shadow: -3px 0 #DA727E, 0 3px #A3555E, 3px 0 #DA727E, 0 -3px #FFAA5C;

		z-index: -1;
 }

 button:hover {
	 text-shadow: -1px 0 #DA727E, 0 1px #A3555E, 1px 0 #DA727E, 0 -1px #FFAA5C;

	 -webkit-transition: all 0.2s;
 	-moz-transition: all 0.2s;
 	-o-transition: all 0.2s;
 	transition: all 0.2s;

 	-webkit-transition-timing-function: ease-out;
 	 -moz-transition-timing-function: ease-out;
 	 -o-transition-timing-function: ease-out;
 	 transition-timing-function: ease-out;
 }

 div.btn_set {
	 	display: inline-block;
 		margin-bottom: 4px;

		position: absolute;
		bottom: 0;
 }

 div.register {
	 width: 400px;
	 height: 196px;

		margin: 0 auto;

	background-color: #AC6C82;

 		border-radius: 6px;

		position: relative;

		box-shadow: 0px 2px 0px #734857;
 }

 div.login {
	 width: 400px;
	 height: 148px;

		margin: 0 auto;

	background-color: #AC6C82;

 		border-radius: 6px;

		position: relative;

		box-shadow: 0px 2px 0px #734857;
 }

 div.search {
	 width: 400px;
 		height: 311px;

 	 margin: 0 auto;

  background-color: #AC6C82;

 	 border-radius: 6px;
	 padding-top: 2px;

	 position: relative;

	 box-shadow: 0px 2px 0px #734857;
 }

 div.history {
	 	width: 394px;
 		height: 126px;

 	 		margin: 0 auto;

 		 border-radius: 6px;

		 position: absolute;
		 bottom: 0;
		 background-color: #DA727E;

		 margin-bottom: 36px;
		 margin-left: 2px;

		 border: 1px dashed #A3555E;

		 box-shadow: 0px 2px 0px #A3555E;
 }
